.viewport {
  height: 100%;   
}

nav {
opacity: 0.7;
}

.vh-95 {
  min-height: 95vh;
}

.vh-05 {
  min-height: 5vh;
}

@media screen and (min-width: 100px) and (max-width: 640px) {
  #smShow { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 641px) and (max-width: 2024px) {
  #smShow { display: none; }   /* hide it elsewhere */
}